@media (max-width: 820px){
  #myTable {
    padding: 0 16px;
    max-width: 420px;
    width: 100% !important;
    margin: 0 auto;
  }
  .btn{
    display: block;
    margin: 10px auto !important;
  }
}