.form-content{
  flex : 0 0 50%;
  max-width: 50%;
}

.form-content .input-field{
  padding: 10px;
  width: 70%;
  margin: 5px 0;
  border-radius: 10px;
  border: solid 1px #757575
}
.form-content .input-field:active,
.form-content .input-field:focus{
  outline: none;
}