body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container{
  margin: 50px 150px 0;
  padding: 30px;
  border: solid 2px #cecece;

}
.container .content{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{
  background-color: #292929;
  color: #fff;
  outline: none;
  border: solid 1px #292929;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
}
.btn:hover {
  background-color: #fff;
  color: #292929;
  transition: all 0.3s;
}

@media (max-width: 480px){
  .container{
    margin: 0;
    width: 100%;
    padding: 0;
    border: none;
  
  }
  .container .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
}